.top-bar {
  position: fixed;
  align-items: center;
  gap: 64px;
  padding: 16px 24px;
  z-index: 6;

  width: 100%;
  height: 4rem;
  left: 0;
  top: 0;

  background: white;
  border-bottom: 1px solid var(--gray-5);
}

.filter-button-menu {
  gap: 24px;
  height: 100%;
}

input[type = "button"] {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  
  width: 6rem;
  background: white;
  border: 1px solid var(--gray-1);
  border-radius: 2rem;
}

input[type = "button"]:hover {
  border: 2px solid var(--gray-1);
}
input[type = "button"]:active {
  background: var(--gray-5);
  border: 2px solid var(--gray-1);
}

input[type = "search"] {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  padding: 8px 16px;
  border: none;
  border-radius: 2rem;
  background-color: var(--gray-6);
}



.filter-popup-container {
  position: absolute;
  z-index: 12;

  padding: 24px 32px;
  top: 5rem;

  width: auto;
  height: auto;

  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  background: white;
  visibility: hidden;
}

.filter-segment {
  gap: 12px;
}

.checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 12px;
  gap: 8px;
}

.show {
  visibility: visible;
}




.filtered-nodes-box {
  position: fixed;
  left: 1rem;
  bottom: 1rem;
  z-index: 2;
  
  padding: 1.5rem 2rem;
  gap: 12px;
  
  width: fit-content;
  height: auto;
  max-height: 50%;
  overflow-y: auto;
  overflow-x: hidden;
  
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  background: white;
}

.filter-header-options {
  justify-content: space-between;
  align-items: center;
  
}

.filtered-solution {
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid transparent;
}

.filtered-solution:hover {
  background-color: var(--gray-6);
  border: 1px solid var(--gray-1);
  cursor: pointer;
}

.filtered-solution:active {
  background-color: var(--gray-5);
  border: 2px solid var(--gray-1);
}